body {
  margin: 0;
  color: black;
  background-color: black;
  font-family: 'MedievalSharp', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#arrow{
  color: white;
}
#arrow:hover{
  color: gray;
}